body {
  font-family: "Avenir Next";
  font-weight: 500;
  color: rgba(255,255,255,0.7);
  background-attachment: fixed;
  width: 800px;
  margin: auto;
}

h1 {
  font-family: "Impact";
  font-size: 4em;
  font-weight: 500;
  color: rgba(255,255,255,0.6);
  margin-bottom: 20px;
  line-height: .85em;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../_images/OEB52.jpg) no-repeat;
    background-size: cover;
}
.container h1 {
    color: white;
}

h2 {
  font-family: "Avenir Next";
  font-size: 2em;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 1;
}

.images {
  width: 800;
  height: 500;
  object-fit: contain;
}


p {
margin-top: 0;
font-size: .9em;
font-weight: 500;
margin-bottom: 0;

}

#mainBlock {
width: 700px;
margin: auto;
}

a {color:rgba(220, 255, 255, .8)

}
