/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: "Impact";
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	font-weight: 300;
}

.inner {
	height: 200px;
	background: rgba(255,255,255,1);
}

.outer {
	padding: 20px;
	background: rgba(200,230,255,.5);
}

.num1 {
	background: rgba(0,100,255,1); 
	width:100px;
	display: block;
}

.num2 {	
	background: rgba(0,100,255,.9); 
}

.num3 {
	background: rgba(0,100,255,.8); 
}

.num4 {
	background: rgba(0,100,255,.7); 
}

.num5 {
	background: rgba(0,100,255,.6); 
}

.num6 {
	background: rgba(0,100,255,.5); 
}

.num7 {
	background: rgba(0,100,255,.4); 
}

.num8 {
	background: rgba(0,100,255,.3); 
}

.boxes {
	/*background: rgba(0,100,255,.99); */
	width: 80%;
	margin: auto;
	font-family: Futura;
}

.num9 {
	background: rgba(0,100,255,.2); 
	width:100px;
	display: block;
}

.num10 {	
	background: rgba(0,100,255,.1); 
}

.num11 {	
	background: rgba(255,100,255,.2); 
}

.num12 {	
	background: rgba(255,100,100,.3); 
}
.num13 {
	background: rgba(255,0,18,.4); 
}

.num14 {
	background: rgba(255,0,18,.5); 
}

.num15 {
	background: rgba(255,0,18,.6); 
}

.num16 {
	background: rgba(255,0,18,.7); 
}

.num17 {
	background: rgba(255,0,18,.8); 
}

.num18 {
	background: rgba(255,0,18,.9); 
}

.box {
		width: 150px;
		text-align: center;
		font-size: 50px;
		display: inline-block;
		float:left;
		padding: 20px;
}


