.site {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "title title title"
    "main main sidebar"
    "main main sidebar"
    "footer footer footer";
}

/* .page-title {
  grid-column: 2/4;
  grid-row: 1/2;
}

.masthead {
  grid-column: 1/2;
  grid-row: 1/2; */
  /* z-index: +100; */
/* }

.sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
}

.main-content {
  grid-column: 2/3;
  grid-row: 2/4;
}

.footer-content {
  grid-column: 1/4;
  grid-row: 4/5;
} */

h2 {

}

h1 {

}
