.site {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vh 1fr 1fr 20vh;
  grid-template-areas:
    "title title"
    "main main"
    "sidebar sidebar"
    "footer masthead";
  grid-gap: .3em;
}

@media screen and (min-width: 600px) {
  .site {
    display: grid;
    position: fixed;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 100px 260px 1fr 100px;
    grid-template-areas:
      "title title masthead"
      "main sidebar sidebar"
      "buttonbox sidebar sidebar"
      "footer footer footer";
      margin: .3em;
      width: calc(100% - .6em);
    max-height: 100vh;
    min-height: calc(100vh - .6em);
  }
}

 .container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-title {
  grid-area: title;
  border-radius: 10px;
}

#result-box {
  border-radius: 10px;
}

.masthead {
  /* grid-column: 1/2;
  grid-row: 1/2; */
  /* z-index: +100; */
  grid-area: masthead;
  border-radius: 10px;
}

.sidebar {
  grid-area: sidebar;
  overflow: scroll;
  border-radius: 10px;
  font-family: monospace;
  font-size: 10px;
  line-height: 12px;
}

.sidebar p {
  margin: 0;
}

.main-content {
  grid-area: main;
  overflow: hidden;
  border-radius: 10px;
  padding: 8px;
}

.button-box {
  grid-area: buttonbox;
  border-radius: 10px;
  background-color: rgba(0,130,190,.4);
  color: white;
  padding: 5px;
}

.footer-content {
  grid-area: footer;
  border-radius: 10px;
}

.logging-button {
  font-family: 'Courier';
  font-size: 10px;
  background-color: rgba(40,40,155,.9);
  margin: 4px;
  border-radius: 5px;
  padding: 10px;
}

#logButton {
  grid-area: logbutton;
}

#likeButton {
  grid-area: likebutton;
}

#inButton {
  grid-area: inbutton;
}

#outButton {
  grid-area: outbutton;
}

#player {
  border-radius: 10px;
}

#the-button-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logbutton likebutton"
    "inbutton outbutton";

}

h2 {

}

h1 {

}
