/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
@import url("https://use.typekit.net/qik1wrg.css");
@import url('https://fonts.googleapis.com/css?family=Pompiere');

body {
	font-family: "Pompiere";
	font-size: 16px;
}

#grid {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 300px 300px 1fr;
	grid-template-rows: 100px 200px 200px auto auto;
	grid-template-areas:
		" . masthead masthead ."
		"in player player notes"
		"out player player notes"
		" . edits edits notes"
		" . . . notes";
	grid-gap:.5em;

}

.hidden {
		opacity: .2;
}

#masthead {
	grid-area: masthead;
	text-align: center;
}

#player {
	grid-area: player;
	border-radius: 10px;
	overflow: hidden;
}

#in {
	grid-area: in;
	text-align: center;
	transition: background-color 1s;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgba(20,200,50,.5);
}

#in:hover {

	background-color: rgba(20,200,50,.8);
}

#out {
	grid-area: out;
	text-align: center;
	transition: background-color 1s;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgba(200,0,30,.5);
}

#out:hover {

	background-color: rgba(200,0,30,.8);
}

#edits {
	grid-area: edits;
}

#notes {
	grid-area: notes;
}
h1 {
  font-family: "Pompiere",sans-serif;
	font-size: 60px;
}

p {
	margin: 0;
}

h2 {
	font-size: 80px;
	margin: auto;
}
